

html {
background-image: linear-gradient(to right top, #218dc6, #009eca, #00adc3, #00bbb3, #28c69c);
   background-repeat: no-repeat;
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;

}
.name {
  font-family: 'Lato', sans-serif;
  color: white;
}

body {
  height: 100%;
  width: 80%;
  height: 200vh;
}

header {
  display: flex;
  justify-content: space-between;
}

.container1 {

  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

nav {
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
  margin-top: 25px;
  margin-right: 10px;
}

a {
  margin-left: 10px;
  text-decoration: overline;
  color: white;
  margin-right: 15px;
}

.container2 {
  color: white;
  padding: 15px 15px 15px 15px;

}

.container3 {

  display: flex;
  flex-direction: column;
  justify-content: center;

}

.container4 {
  background-image: white;
  color:#218dc6;
  padding: 15px 15px 15px 15px;
}

.icon {
  visibility: hidden;
}

p {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;

}

footer {
  display: flex;
  color: #218dc6;
  justify-content: center;
}

@media all and (max-width: 1500px) {


  .topnav {
    position: fixed;
    width: 300px;
    height: 100%;
    top: 0;
    right: -300px;
    background-color: rgba(35,30,33, 0.95);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20% 0 0 60%;
    transition: right 0.8s;
  }

  .topnav a {
    padding-top: 40px;
    padding-bottom:40px;
  }


  .change {
    right: 0;
  }



  .icon {
    position: fixed;
    visibility: visible;
    right: 50px;
    top: 50px;
    color: white;

  }

}
